.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px 0;
  color: #55e;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(270deg, #ffa 0%, #faa 100%);
  border: 1px solid #000;
  border-radius: 5px;
}

.disabled {
  background: gray;
  color: #000;
}

.Button:hover {
  cursor: pointer;
  background: linear-gradient(270deg, #faa 0%, #ffa 100%);
}

.Button.disabled:hover {
  background: gray;
  color: #000;
  cursor: not-allowed;
}
