.BackDrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.Form {
  z-index: 2;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  background-color: wheat;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.formRule {
  font-size: 12px;
}

.Form form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  margin-top: 10px;
}
