.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
}

.Header button {
  height: 37px;
}

@font-face {
  font-family: "neoneon";
  src: url("../../font/12094.otf");
}

.appTitle {
  font-family: Neoneon;
  text-transform: uppercase;
}
