.Book {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: wheat;
  transition-timing-function: ease;
  transition-duration: 1s;
}

.Book:hover {
  transform: scale(1.07, 1.07);
}

.info {
  display: flex;
}

.image {
  width: 150px;
  height: 200px;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.author {
  font-size: 16px;
  font-weight: 500;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
}

.low {
  border: 2px solid rgb(204, 82, 51);
  color: rgb(204, 82, 51);
}

.middle {
  border: 2px solid orange;
  color: orange;
}

.high {
  border: 2px solid green;
  color: green;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
